@font-face {
  font-family: "Calibre-Regular";
  src: url("./fonts/CalibreWeb-Regular.woff2");
}

@font-face {
  font-family: "Calibre-Semibold";
  src: url("./fonts/CalibreWeb-Semibold.woff2");
}

body {
  font-family: "Calibre-Regular";
  font-size: 14px;
}

.fa-chevron-down {
  transition: transform .2s;
}

.up {
  transform: rotate(-180deg);
}